* {
    font-family: Tahoma;
}

body {
    background-color: lightblue;
    color: darkblue;
}

a {
    text-decoration: none;
}

h1.subject {
    text-align: center;
}

table.product {
    border-collapse: collapse;
    width: 100%
}

.container {
    width: 80%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}
