<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sach san pham</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
</head>
<body>
    <div class="container">
        <h1 class="subject">DANH MUC SAN PHAM</h1>
        <hr>
            <form>
                <input type="text" name="keyword" placeholder="Nhap tu khoa..."/>
                <input type="number" name="from_price" placeholder="Nhap gia dau..."/>
                <input type="number" name="to_price" placeholder="Nhap gia cuoi..."/>
                <input type="submit" value="Tim"/>
            </form>
<!--            <form action="/add-product" method="POST">-->
<!--                <input type="text" name="name" placeholder="Nhap ten sp">-->
<!--                <input type="text" name="description" placeholder="Nhap mieu ta">-->
<!--                <input type="number" name="price" placeholder="Nhap gia sp">-->
<!--                <input type="number" name="category_id" placeholder="Nhap category">-->
<!--                <input type="text" name="image" placeholder="Nhap link img">-->
<!--                <input type="submit" value="Them sp"/>-->
<!--                <a href="{{url_for('home')}}">Quay lai</a>-->
<!--            </form>-->
        <hr>
        <table border="1" class="product">
            <tr>
                <th></th>
                <th>Ma san pham</th>
                <th>Ten san pham</th>
                <th>Mo ta</th>
                <th>Gia ban</th>
            </tr>
            {% for p in products %}
            <tr class="center">
                <td>
                    <a href="{{url_for('product_detail', product_id=p.id)}}">
                        <img src="{{url_for('static', filename=p.image)}}" alt="{{ p.image }}" width="200px"/>
                    </a>
                </td>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ "{:,.0f}".format(p.price) }} VND</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>